
.container { 
    display: inline-block; 
    width: 355px; 
    height: 700px; 
    margin: 6px; 
    background-color: #fff;
    border-style: solid;
    border-color: #e8e8e8;
    border-radius: 10px;
    border:2px solid #BEBEBE;
    cursor:pointer;
    min-height:45px;
    }
    .containerPrecio { 
        display: inline-block; 
        
        width: 450px; 
        height: 200px; 
        margin: 6px; 
        background-color:#fff;
        border-style: solid;
        border-color: #e8e8e8;
        border-radius: 10px;
        border:2px solid #BEBEBE;
        cursor:pointer;
        min-height:45px;
        padding-top: 5px;
        padding-right: 20px;
        padding-bottom: 5px;
        padding-left: 20px;
        }
        .contenedorVinculo{
             
                display: inline-block; 
                width: 500px; 
                margin: 6px; 
                
                
                cursor:pointer;
                min-height:45px;
                
        }
        .container3 { 
            display: inline-block; 
            width: 355px; 
            height: 600px; 
            margin: 6px; 
            background-color: #fff;
            border-style: solid;
            border-color: #e8e8e8;
            border-radius: 10px;
            border:2px solid #BEBEBE;
            cursor:pointer;
            min-height:45px;
            }
        
.disabled{color:#b6b6b6;}
div{
    height:10px;

}
.espacio{
    height: 10px; 
}
.nota{
    height: 140px; 
    background-color:#FFFFFF;

}
.select i{
    font-size: 30px;
    margin-left:30px;
    color: black;

}
.form-control{
    width:303px;
    height:46px;    
    border-color: #BEBEBE;
    

}
.borde-caja{
    border-color:"";
    border: 2px solid #BEBEBE;
    width:307px;
    height:50px;
    border-radius:5px;
}

.espacio{
    height:5px;
}

.form-check-input{
    border-color:#FFFFFF;
    border: 3px solid #FFFFFF;
    width:25px;
    height:25px;
    border-radius:5px;
}
.boton{
    width:320px;
    height:55px;
}
.resultado{
    background-color: #2d51a6;
   height:140px;
   border-radius:5px;
   
}
/* .res{
    height:20px;
    background-color: #FFF;
    border: 2px solid #BEBEBE;
    border-radius:5px;

}
 */.resultadoPrecio{
    background-color: ##FFFFFF;
    height:140px;
    border-radius:5px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
}

  
@media screen and (max-width: 800px) {
    .orientacion {
        
        top: 250px;
        left: 60px;
    }
  
  } 
  h4{
    font-weight: bold;

  }

  